:root{
    --font-family:'Barlow Semi Condensed', sans-serif;
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(217, 19%, 35%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --LightLight-gray: hsl(0, 0%, 81%);
    --Lightgrayish-blue: hsl(210, 46%, 95%);
    
}
body{
    background-color: var(--Lightgrayish-blue);
}
.container{
    margin: 80px 15px 100px 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: var(--Lightgrayish-blue);

}

.stats{
    font-size: 11px;
    color: var(--LightLight-gray);
    
   
}

.card-1{
    padding: 30px;
    background-color: var(--Moderate-violet);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
    
}
.card-main1{
    font-family: var(--font-family);
    color: var(--LightLight-gray);
    font-size: 15px;
    margin: 20px 0 0 0;
    line-height: 1.6em;
    text-align: left;

}
.spimg{
    width: 90px;
    position: absolute;
    right:20px;
    top: 0;
    
}


.img{
    float: left;
    
}

img{
    
    border-radius:100px;
    width: 30px;  
    

}

.name{
    
    color: var(--White);
    font-size: 13px;
    font-family: var(--font-family);
    margin: 0 0 0 50px;
    max-width: 100px;
    line-height: 1.3em; 
}

.card-header{
    
    margin: 20px 0 0 0;
    color:var(--White);
    font-family: var(--font-family);
    font-size: 22px;
    text-align: left;
    line-height: 1.2em;
}


.card-2{
   
    border-radius: 10px;
    padding: 30px;
    background-color: var(--Very-dark-grayish-blue);
}

.name2{
    color: var(--White);
    font-size: 13px;
    font-family: var(--font-family);
    margin: 0 0 0 50px;
    max-width: 100px;
    line-height: 1.3em; 
    
}

.card-main2{
    font-family: var(--font-family);
    color: var(--LightLight-gray);
    font-size: 15px;
    margin: 20px 0 0 0;
    line-height: 1.6em;
    text-align: left;

}

.card-3{
    
    border-radius: 10px;
    padding: 30px;
    background-color: white;

}
.name3{
    color: var(--Very-dark-grayish-blue);
    font-size: 13px;
    font-family: var(--font-family);
    margin: 0 0 0 50px;
    max-width: 100px;
    line-height: 1.3em; 
}
.card-main3{
    font-family: var(--font-family);
    color: var(--Very-dark-grayish-blue);
    font-size: 15px;
    margin: 20px 0 0 0;
    line-height: 1.6em;
    text-align: left;

}


.card-header3{
    color: var(--Very-dark-grayish-blue);
    font-family: var(--font-family);
    font-size: 20px;
    
}



.card-4{
   
    background-color: var(--Very-dark-blackish-blue);
    border-radius: 10px;
    padding: 30px;
    
}
.card-main4{
    font-family: var(--font-family);
    color: var(--LightLight-gray);
    font-size: 15px;
    margin: 20px 0 0 0;
    line-height: 1.6em;
    text-align: left;

}

.name4{
    color: var(--White);
    font-size: 13px;
    font-family: var(--font-family);
    margin: 0 0 0 50px;
    max-width: 100px;
    line-height: 1.3em; 
}




.card-5{
    
    border-radius: 10px;
    padding: 30px;
    background-color: white;
}
.name5{
    color:var(--Very-dark-grayish-blue);
    font-size: 13px;
    font-family: var(--font-family);
    margin: 0 0 0 50px;
    max-width: 90px;
    line-height: 1.3em; 
}
.card-main5{
    font-family: var(--font-family);
    color: var(--Very-dark-grayish-blue);
    font-size: 15px;
    margin: 20px 0 0 0;
    line-height: 1.6em;
    text-align: left;

}



.card-header5{
    color:var(--Very-dark-grayish-blue);
        margin: 10px 0 0 0;
        font-size: 20px;
        font-family: var(--font-family)
}

@media (min-width:900px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       margin: 120px auto 100px auto;
        position: relative;
        max-width: 1220px;
    }
  

    .stats{
        font-size: 10px;
    
        
    }

    .card-main1{
        font-family: var(--font-family);
        color: var(--LightLight-gray);
        font-size: 15px;
        margin: 20px 0 0 0;
        line-height: 1.6em;
        text-align: left;
    
    }
    .card-main2{
        font-family: var(--font-family);
        color: var(--LightLight-gray);
        font-size: 15px;
        margin: 20px 0 0 0;
        line-height: 1.6em;
        text-align: left;
    
    }
    .card-main3{
        font-family: var(--font-family);
        color: var(--Very-dark-grayish-blue);
        font-size: 15px;
        margin: 20px 0 0 0;
        line-height: 1.6em;
        text-align: left;
    
    }.card-main4{
        font-family: var(--font-family);
        color: var(--LightLight-gray);
        font-size: 15px;
        margin: 20px 0 0 0;
        line-height: 1.6em;
        text-align: left;
    
    }.card-main5{
        font-family: var(--font-family);
        color: var(--Very-dark-grayish-blue);
        font-size: 14px;
        margin: 20px 0 0 0;
        line-height: 1.6em;
        text-align: left;
    
    }
     .card-header{
    
        margin: 20px 0 0 0;
        color:var(--White);
        font-family: var(--font-family);
        font-size: 22px;
        text-align: left;
        line-height: 1.2em;
    }
    .card-header3{
    
        margin: 20px 0 0 0;
        color:var(--Very-dark-grayish-blue);
        font-family: var(--font-family);
        font-size: 22px;
        text-align: left;
        line-height: 1.2em;
    }
    .card-header5{
    
        margin: 20px 0 0 0;
        color:var(--Very-dark-grayish-blue);
        font-family: var(--font-family);
        font-size: 22px;
        text-align: left;
        line-height: 1.2em;
    }
     .card-1{
        grid-column:1/3;
         
        
    }
   
    .name{
    
        color: var(--White);
        font-size: 13px;
        font-family: var(--font-family);
        margin: 0 0 0 45px;
        max-width: 100px;
        line-height: 1.3em; 
    }
    
    
    .card-2{
        grid-column:3;

        
    }
    .name2{
    
        color: var(--White);
        font-size: 13px;
        font-family: var(--font-family);
        margin: 0 0 0 45px;
        max-width: 100px;
        line-height: 1.3em; 
    }

    .card-3{
        grid-row: 2;
        grid-column:1/2;
        
    }
    .name3{
    
        color: var(--Very-dark-grayish-blue);
        font-size: 13px;
        font-family: var(--font-family);
        margin: 0 0 0 45px;
        max-width: 100px;
        line-height: 1.3em; 
    }

    .card-4{
        grid-column: 2/4;
        
        
    }
    .name4{
    
        color: var(--White);
        font-size: 13px;
        font-family: var(--font-family);
        margin: 0 0 0 45px;
        max-width: 100px;
        line-height: 1.3em; 
    }

    .card-5{
        position: absolute;
        grid-column:4;
        grid-row: 1;
        padding-bottom: 60px;
       
        
        
    }
    .name5{
    
        color: var(--Very-dark-grayish-blue);
        font-size: 13px;
        font-family: var(--font-family);
        margin: 0 0 0 45px;
        max-width: 75px;
        line-height: 1.3em; 
    }
    
   
    